header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

header .onglets {
    margin-top: 6px;
    margin-left: 150px; 
    
}
header .onglets a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    border-bottom: 1px solid #000;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
  }
@media screen and (max-width:943px){
    header .onglets{
      margin-bottom: 10px;   
    }
  }
@media screen and (min-width:1751px){
    .espece{
        margin-left: 10%;
    }
  }

.mer{
    display: flex;
    flex-wrap: wrap; 
}
.photo_lm1{
    max-height: 230px;
    margin-top: 25px;
    margin-left: 50px;
}
.photo_lm2{
    max-height: 250px;
    margin-left: 20px;
    margin-right: 20px;
}
.photo_lm4{
    max-height: 240px;
    margin-top: 20px;
    margin-left: 20px;
}
.photo_lm6{
    max-height: 270px;
    margin-left: 20px;
    margin-right: 20px;
}
.photo_lm5{
    max-height: 200px;
    margin-right: 5px;
}
.photo_lm7{
    max-height: 200px;
    margin-right: 5px;
}
.photo_lm8{
    max-height: 200px;
}
.habitat_alimentation_lm{
    flex: 0 0 50%;
}
.sociale_lm{
    flex: 0 0 60%;
}
.reproduction_lm{
    flex: 0 0 50%;
}
.galerie_lm{
    display: flex;
}

.asie{
    display: flex;
    flex-wrap: wrap;  
}
.photo_la1{
    max-height: 245px;
    margin-top: 25px;
    margin-left: 150px;
}
.photo_la2{
    max-height: 300px;
    margin-right: 40px;
    margin-top: 50px;
}
.sociale_la{
    flex: 0 0 50%;
}
.photo_la3{
    max-height: 300px;
    margin-left: 150px;
    margin-right: 40px;
}
.photo_la4{
    max-height: 300px;
}

.europe{
    display: flex;
    flex-wrap: wrap;  
}
.photo_le3{
    max-height: 250px;
    margin-left: 200px;
    margin-top: 15px;
    margin-right: 390px;
}
.photo_le2{
    max-height: 350px;
    margin-right: 40px;
    margin-top: 80px;
}
.habitat_alimentation_le{
    flex: 0 0 60%;
}
.photo_le4{
    max-height: 280px;
    margin-left: 20px;
    margin-top: 30px;
}
.sociale_le{
    flex: 0 0 50%;
}
.photo_le1{
    max-height: 350px;
    margin-left: 350px;
}

.geante{
    display: flex;
    flex-wrap: wrap;  
}
.photo_lg3{
    max-height: 250px;
    margin-left: 150px;
    margin-top: 20px;
}
.photo_lg1{
    max-height: 350px;
    margin-left: 120px;
    margin-right: 20px;
}
.photo_lg5{
    max-height: 350px;
}
.photo_lg4{
    max-height: 380px;
    margin-top: 20px;
    margin-left: 30px;
}
.sociale_lg{
    flex: 0 0 70%;
}
.photo_lg2{
    max-height: 380px;
    margin-left: 300px;
}